@model JobSearchSolution.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.Opp)
		</dt>
		<dd>
			@foreach (var o in Model.Opp)
			{
				@Html.ActionLink(o.Name, "Details", "Opps", new { id = o.Id }, null);
				<br />
			}
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Event)
		</dt>
		<dd>
			@foreach (var e in Model.Event)
			{
				@Html.ActionLink(e.Name, "Details", "Events", new { id = e.Id }, null);
				<br />
			}
		</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
